USE [master]
GO
IF EXISTS
(
SELECT name FROM master.dbo.sysdatabases
WHERE name = N'HardwareStore')
BEGIN 
	DROP DATABASE HardwareStore
END
GO
--
CREATE DATABASE [HardwareStore]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HardwareStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HardwareStore]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[IDcategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [image] NULL,
	[Vat] [smallint] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[IDcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[IDemployee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Surname] [nvarchar](25) NOT NULL,
	[Position] [nvarchar](40) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[EmploymentDate] [datetime] NOT NULL,
	[Address] [nvarchar](60) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Region] [nvarchar](20) NOT NULL,
	[ZipCode] [nvarchar](10) NOT NULL,
	[PhoneNumber] [nvarchar](24) NOT NULL,
	[Photo] [image] NULL,
	[Comments] [nvarchar](max) NULL,
	[Chief] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDemployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FromIdu] [int] NOT NULL,
	[ToIdu] [int] NOT NULL,
	[SendDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order Details]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order Details](
	[IDorder] [int] NOT NULL,
	[IDproduct] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Vat] [smallint] NOT NULL,
	[Discount] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Order Details] PRIMARY KEY CLUSTERED 
(
	[IDorder] ASC,
	[IDproduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IDorder] [int] IDENTITY(1,1) NOT NULL,
	[IDemployee] [int] NOT NULL,
	[SellDate] [date] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[IDorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IDproduct] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[UnitQuantity] [nvarchar](255) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[InventoryState] [int] NOT NULL,
	[Discontinued] [bit] NOT NULL,
	[IDcategory] [int] NOT NULL,
	[Discount] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[IDproduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.06.2020 08:59:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDemployee] [int] NOT NULL,
	[Login] [varchar](10) COLLATE Polish_CS_AS NOT NULL,
	[Password] [varchar](60) COLLATE Polish_CS_AS NOT NULL,
	[IDuser] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IDuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([IDcategory], [CategoryName], [Description], [Picture], [Vat]) VALUES (1, N'Narzędzia ręczne', N'Narzędzia podstawowe, łączeniowe, pomiarowe, malarskie, budowlane, mechaniczne, tnące', NULL, 23)
INSERT [dbo].[Categories] ([IDcategory], [CategoryName], [Description], [Picture], [Vat]) VALUES (2, N'Elektronarzędzia', N'Narzędzia elektryczne: wiertartki, wkrętarki, szlifierki, pilarki, wyrzyniarki, lutownice', NULL, 5)
INSERT [dbo].[Categories] ([IDcategory], [CategoryName], [Description], [Picture], [Vat]) VALUES (4, N'Narzędzia do ogrodu', N'Narzędzia elektryczne jak i ręczne, wykorzystywane w ogrodzie', NULL, 8)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([IDemployee], [Name], [Surname], [Position], [BirthDate], [EmploymentDate], [Address], [City], [Region], [ZipCode], [PhoneNumber], [Photo], [Comments], [Chief]) VALUES (4, N'Piotr', N'Błaszczykowski', N'Sprzedawca', CAST(N'1990-01-01T00:00:00.000' AS DateTime), CAST(N'2019-09-30T00:00:00.000' AS DateTime), N'Zawadzkiego 14', N'Ćwiklice', N'Śląsk', N'43-229', N'+48602748323', NULL, NULL, NULL)
INSERT [dbo].[Employees] ([IDemployee], [Name], [Surname], [Position], [BirthDate], [EmploymentDate], [Address], [City], [Region], [ZipCode], [PhoneNumber], [Photo], [Comments], [Chief]) VALUES (5, N'Anna', N'Wichrowska', N'Sprzedawca', CAST(N'1978-01-01T00:00:00.000' AS DateTime), CAST(N'2000-02-03T00:00:00.000' AS DateTime), N'Szczekocińska 24', N'Pszczyna', N'Śląsk', N'43-200', N'342123456', NULL, NULL, NULL)
INSERT [dbo].[Employees] ([IDemployee], [Name], [Surname], [Position], [BirthDate], [EmploymentDate], [Address], [City], [Region], [ZipCode], [PhoneNumber], [Photo], [Comments], [Chief]) VALUES (6, N'Szymon', N'Piepiura', N'Sprzedawca', CAST(N'1998-12-11T00:00:00.000' AS DateTime), CAST(N'2000-02-03T00:00:00.000' AS DateTime), N'Szczekocińska 25', N'Pszczyna', N'Śląsk', N'43-200', N'341423326', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([id], [FromIdu], [ToIdu], [SendDate]) VALUES (8, 4, 4, CAST(N'2020-06-15T15:24:28.130' AS DateTime))
INSERT [dbo].[Messages] ([id], [FromIdu], [ToIdu], [SendDate]) VALUES (9, 9, 4, CAST(N'2020-06-15T15:29:03.157' AS DateTime))
INSERT [dbo].[Messages] ([id], [FromIdu], [ToIdu], [SendDate]) VALUES (10, 9, 5, CAST(N'2020-06-15T15:29:34.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
INSERT [dbo].[Order Details] ([IDorder], [IDproduct], [UnitPrice], [Quantity], [Vat], [Discount]) VALUES (1, 1, 106.7900, 2, 23, CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Order Details] ([IDorder], [IDproduct], [UnitPrice], [Quantity], [Vat], [Discount]) VALUES (1, 6, 745.9600, 1, 5, CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Order Details] ([IDorder], [IDproduct], [UnitPrice], [Quantity], [Vat], [Discount]) VALUES (2, 6, 745.9600, 4, 5, CAST(0.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IDorder], [IDemployee], [SellDate]) VALUES (1, 4, CAST(N'2020-05-28' AS Date))
INSERT [dbo].[Orders] ([IDorder], [IDemployee], [SellDate]) VALUES (2, 7, CAST(N'2020-05-28' AS Date))
INSERT [dbo].[Orders] ([IDorder], [IDemployee], [SellDate]) VALUES (4, 7, CAST(N'2020-05-28' AS Date))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([IDproduct], [ProductName], [UnitQuantity], [UnitPrice], [InventoryState], [Discontinued], [IDcategory], [Discount]) VALUES (1, N'Młotek ślusarski 32.4cm Bosh', N'1 szt', 106.7900, 250, 0, 1, CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Products] ([IDproduct], [ProductName], [UnitQuantity], [UnitPrice], [InventoryState], [Discontinued], [IDcategory], [Discount]) VALUES (3, N'Młotek murarski 0.7kg JUCO', N'1 szt', 27.4900, 122, 0, 1, CAST(5.00 AS Decimal(4, 2)))
INSERT [dbo].[Products] ([IDproduct], [ProductName], [UnitQuantity], [UnitPrice], [InventoryState], [Discontinued], [IDcategory], [Discount]) VALUES (5, N'Wiertarko-wkrętarka 14,4V, 1,5Ah, GRAPHITE 58G218', N'1 szt', 179.0000, 54, 0, 2, CAST(0.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IDemployee], [Login], [Password], [IDuser]) VALUES (4, N'PBLASZCZYK', N'Haslo123', 1)
INSERT [dbo].[Users] ([IDemployee], [Login], [Password], [IDuser]) VALUES (9, N'AZMUDA', N'Haslo124', 2)
INSERT [dbo].[Users] ([IDemployee], [Login], [Password], [IDuser]) VALUES (7, N'SSOLIWA', N'Haslo125', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E01CDF82BA]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E02713F094]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__DD5A978A0E4FA1A4]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__DD5A978AD37E8EA0]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B321129AE]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B5AD98E22]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__FD0ADB804B12ACDA]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[IDemployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__FD0ADB80AB8FA80D]    Script Date: 16.06.2020 08:59:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[IDemployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order Details] ADD  CONSTRAINT [DF_OrdersPosition_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Employees] FOREIGN KEY([FromIdu])
REFERENCES [dbo].[Employees] ([IDemployee])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Employees]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Employees1] FOREIGN KEY([ToIdu])
REFERENCES [dbo].[Employees] ([IDemployee])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Employees1]
GO
ALTER TABLE [dbo].[Order Details]  WITH CHECK ADD  CONSTRAINT [FK_OrdersPosition_Orders] FOREIGN KEY([IDorder])
REFERENCES [dbo].[Orders] ([IDorder])
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [FK_OrdersPosition_Orders]
GO
ALTER TABLE [dbo].[Order Details]  WITH CHECK ADD  CONSTRAINT [FK_OrdersPosition_Products] FOREIGN KEY([IDproduct])
REFERENCES [dbo].[Products] ([IDproduct])
GO
ALTER TABLE [dbo].[Order Details] CHECK CONSTRAINT [FK_OrdersPosition_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([IDemployee])
REFERENCES [dbo].[Employees] ([IDemployee])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([IDcategory])
REFERENCES [dbo].[Categories] ([IDcategory])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([IDemployee])
REFERENCES [dbo].[Employees] ([IDemployee])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
USE [master]
GO
